
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>eLEARNING</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/Home/Index/" class="nav-item nav-link active">AnaSayfa</a>
            <a href="/Home/HomeGalery/" class="nav-item nav-link">Galeri</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Giriş</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/Login/Index/">Öğrenci</a></li>
                    <li><a class="dropdown-item" href="/Login/InstructorLogin/">Öğretmen</a></li>
                    <li><a class="dropdown-item" href="/Login/AdminLogin/">Admin</a></li>
                </ul>
            </div>
        </div>
        <a href="/Contact/Index/" class="nav-item nav-link">Bize Yazın</a>
    </div>
    <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Kayıt Ol<i class="fa fa-arrow-right ms-3"></i></a>
  
</nav>
