
@model MyElearningProject.Models.AboutUsandFetatured
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="~/Templates/Elearning/img/about.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">

                    @foreach (var x in Model.deger1)
                    {
                        <h6 class="section-title bg-white text-start text-primary pe-3">Hakkımızda</h6>
                        <h1 class="mb-4">@x.Title</h1>
                        <p class="mb-4">@x.Comment</p>
                    }

                    <div class="row gy-2 gx-4 mb-4">
                        @foreach (var y in Model.deger2)
                        {
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>@y.FeaturedName</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
