@using MyElearningProject.DAL.Entities
@model List<FeatureSkill>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            @foreach (var x in Model)
            {
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="@x.IconUrl"></i>
                            <h5 class="mb-3">@x.Title</h5>
                            <p>@x.Comment</p>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>