@model MyElearningProject.DAL.Entities.AboutUsFeatured
@{
    ViewBag.Title = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row page-titles"  style="background-color:aliceblue">
    <div class="col-md-5 col-8 align-self-center" >
        <h3 class="text-themecolor m-b-0 m-t-0">E-Learning Admin Paneli</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Ana Sayfa</a></li>
            <li class="breadcrumb-item active">@ViewBag.breadcrumb</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
    </div>
</div>

<div class="card" style="text-align: center">
    <h2><B>HAKKIMIZDA SAYFASI GÜNCELLEME EKRANI</B></h2>
</div>


<form method="post">

    <input type="hidden" name="FeaturedID" value="@Model.FeaturedID" />
    <br />

    <label><b>Özellik</b></label>
    @Html.TextBoxFor(x => x.FeaturedName, new { @class = "form-control", @value = "FeaturedName" })
    <br /><br />

  
    <button class="btn btn-primary">Güncelle</button>
    <br /><br />
    <a href="/AboutUs/Index/" class="btn btn-outline-info"> << Hakkımızda Sayfasına Geri Dön</a>



</form>


